<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="keywords" content="boarding, house, apartments, dormitories, condominiums, school, list, price, address">
    <meta name="description" content="Add your place to be listed as a search result.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha256-7rF6RaSKyh16288E3hVdzQtHyzatA2MQRGu0cf6pqqM=" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/add-place.css" type="text/css">

    <title>RS Navi - Add A Place</title>
</head>
<body>
    <!-- Navbar Component -->
    <% include ../public/components/navbar.ejs %>

    <% if (locals.message) { 
        if (message.length > 0) { %>
            <!-- Alert Message From Server -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="alert alert-primary alert-dismissible fade show mt-5" role="alert">
                        <%= locals.message %>
                        <button type="button" class="close" place-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>

    <main class="container">
        <div class="row justify-content-center">
            <h1 class="display-4 text-center text-white my-5">Add A Place</h1>
        </div>
        <section class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

                <form class="collapse show" id="form" autocomplete="off" method="POST" action="/places/add">
                    <div class="form-row mb-3">
                        <div class="col">
                            <input type="text" class="form-control" name="name" placeholder="Place Name" id="name" required>
                        </div>
                        <div class="col">
                            <select class="form-control select_box" name="placeType" id="placeType" required>
                                <option value="" disabled selected hidden>Place Type</option>
                                <option value="0">Boarding House</option>
                                <option value="1">Dormitory</option>
                                <option value="2">Apartment</option>
                                <option value="3">Condominium</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col-2">
                            <input type="text" class="form-control" name="number" placeholder="No." id="number" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="street" placeholder="Street" id="street" required>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col">
                            <input type="text" class="form-control" name="subdivision" placeholder="Subdivision" id="subdivision">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="barangay" placeholder="Barangay" id="barangay" required>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col">
                            <input type="text" class="form-control" name="city" placeholder="City" id="city" required>
                        </div>
                        <div class="col-2">
                            <input type="text" class="form-control" name="zipCode" placeholder="Zip Code" id="zipCode">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="province" placeholder="Province" id="province" required>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text" id="pesos">₱</div>
                                </div>
                                <input type="number" class="form-control" placeholder="Price" name="price" id="price" required>
                            </div>
                        </div>
                        <div class="col-4">
                            <select class="form-control select_box" name="listType" id="listType" required>
                                <option value="0" selected>Rent/Sell</option>
                                <option value="1">Rent</option>
                                <option value="2">Sell</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col">
                            <textarea rows="8" class="form-control" name="description" placeholder="Description" id="description" required></textarea>
                        </div>
                        <div></div>
                    </div>

                    <input type="text" class="form-control mb-3" name="coordinates" id="coordinates" hidden required>
                    <button type="submit" class="btn btn-primary mb-3">Add Place</button>
                </form>

                <button type="button" class="btn btn-dark" id="mapToggler">Pin Onto The Map</button>
            </div>

            <section class="col-12 col-md-10 text-center mt-3 collapse" data-toggle="tooltip" data-placement="bottom"
                title="Pin your place on the map" id="mapSection">
                <input type="text" placeholder="Search" id="searchBox">
                <div id="map" class="border border-primary"></div>
            </section>

        </section>
    </main>



    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- Boostrap Bundle (Bootstrap JS + Popper.js) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous">
    </script>
    <!-- Devbridge's Autocomplete -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.9/jquery.autocomplete.js"
        integrity="sha256-AU6mjGKtdyPqKOpEqQm/UCFmQ9UqrP1QH0EZVvpoAnQ=" crossorigin="anonymous"></script>

    <!-- Map Configuration -->
    <script src="/js/add-place.js"></script>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDREAoaQ27rc3JvRN_lyipAak9eT7C3tqQ&libraries=places&callback=initMap"
        type="text/javascript">
    </script>
</body>

</html>