<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha256-7rF6RaSKyh16288E3hVdzQtHyzatA2MQRGu0cf6pqqM=" crossorigin="anonymous" />
    <!-- Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/css/auth.css">

    <title>RS Navi - Login</title>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark navbar-expand-md fixed-top" id="mainNavbar">
        <a href="/" class="navbar-brand"><span class="font-weight-bold">ROOM STAY-IN</span> NAVIGATION</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation links">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item collapse show" id="switchRoleNav"><button type="button" class="btn nav-link bg-transparent" id="switchRoleButton">Login as Placeowner</button></li>
            </ul>
        </div>
    </nav>

    <% if (locals.message) { 
        if (message.length > 0) { %>
            <!-- Alert Message From Server -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="alert alert-primary alert-dismissible fade show mt-5" role="alert">
                        <%= locals.message %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
    
    <!-- Main Section -->
    <main class="container">

        <!-- Logo -->
        <div class="row justify-content-center">
            
            <div class="col-4 col-md-3 col-lg-2">
                <a href="/"><img class="img-fluid" src="/images/logo_no_title.png" id="logo"></a>
            </div>
        </div>
        
        <!-- Login Form -->
        <div class="collapse show" id="login">

            <div class="collapse show" id="upperLogin">
                <div class="row justify-content-center text-center mb-3">
                    <div class="col-8">
                        <h2 class="display-6 text-white collapse show" id="loginRoleTitle">Login as Student</h2>
                    </div>
                </div>
    
                <form method="POST" action="/auth/login" id="loginForm">
                    <div class="row justify-content-center text-center">
                        <div class="col-8 col-md-6 col-lg-5 col-xl-4 formFields">
                            <input type="email" class="form-control" placeholder="Email" name="email" id="loginEmail" required>
                            <div class="mb-3"></div>
                            <input type="password" class="form-control mb-3" placeholder="Password" name="password" required>
                            <input type="text" value="student" id="loginRoleInput" name="role" hidden required>
                            <button type="submit" class="btn btn-sm btn-primary px-4">Login</button>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center mt-3 text-white">
                        <button type="button" class="btn text-white bg-transparent" id="switchToSignupButton">Don't have an account? Sign up!</button>
                    </div>
                </form>
            </div>

            <!-- Forgot Password (inside login div) -->
            <div class="row justify-content-center text-center text-white">
                <button type="button" class="btn text-white bg-transparent mb-5" id="forgotPasswordButton">Forgot Password</button>
            </div>

            <div class="collapse row justify-content-center text-center mt-3" id="forgotPasswordForm">
                <div class="col-8 col-md-6 col-lg-5 col-xl-4">
                    <form method="POST" action="/auth/forgot">
                        <div class="formFields">
                                <input type="email" class="form-control" name="email" placeholder="Email" id="forgotPasswordEmail" required>
                                <div></div>
                                <button type="button" class="btn btn-sm btn-info mt-3" id="forgotPasswordRoleButton">Student</button><br>
                            <input type="text" value="student" id="forgotPasswordRoleInput" name="role" hidden required>
                            <button type="submit" class="btn btn-sm btn-primary mt-3 mb-5">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Signup Form -->
        <div class="collapse" id="signup">
            <form method="POST" action="/auth/signup" id="signupForm">
                <div class="row justify-content-center text-center mb-3">
                    <h2 class="display-5 text-white collapse show" id ="signupRoleTitle">Sign up as Student</span></h2>
                </div>
                <div class="row justify-content-center text-center">
                    <div class="col-8 col-md-6 col-lg-5 col-xl-4 formFields">
                        <input type="text" class="form-control" placeholder="First Name" name="firstName" required>
                        <div class="mb-3"></div>
                        <input type="text" class="form-control" placeholder="Last Name" name="lastName" required>
                        <div class="mb-3"></div>
                        <input type="text" class="form-control" placeholder="School Name" name="schoolName" id="schoolNameInput" required>
                        <div class="mb-3"></div>
                        <input type="email" class="form-control" placeholder="Email" name="email" id="signupEmail" required>
                        <div class="mb-3"></div>
                        <input type="password" class="form-control" placeholder="Password" name="password" id="signupPassword" required>
                        <div class="mb-3"></div>
                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" id="confirmSignupPassword" required>
                        <div class="mb-3"></div>
                        <input type="text" name="role" value="student" id="signupRoleInput" hidden required>
                        <button type="submit" class="btn btn-sm btn-primary px-4">Signup</button>
                    </div>
                </div>
                <div class="row justify-content-center text-center mt-3 text-white">
                        <button type="button" class="btn text-white bg-transparent mb-5" id="switchToLoginButton">Already signed up?</button>
                </div>
            </form>
        </div>
    </main>
    
    <!-- Footer Component -->
    <% include ../public/components/footer.ejs %>

     <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS + Popper.js Bundle -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <!-- Underscore JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" integrity="sha256-G7A4JrJjJlFqP0yamznwPjAApIKPkadeHfyIwiaa9e0=" crossorigin="anonymous"></script> 

    <!-- Custom Script -->
    <script src="/js/auth.js"></script>
</body>
</html>