<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css"> 
    <title>RS Navigation</title>
</head>
<body>
    <header>
        <div class="container">
            <h1><span>RS</span> Navi</h1>
            <nav>
                <ul>
                    <li><a href="/add">Add A Place</a></li>
                    <li><a href="/login">Login/Signup</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="search">
        <img src="/images/rs_navi_logo.png">
        <div class="container">
            <form method="GET" action="/search">
                <input type="text" class="searchBox" name="school_name" placeholder="Enter school name...">
                <button type="submit" class="button_1">Search</button>
            </form>
        </div>
    </section>

    <footer>
        <div class="container">
            <span>Bathtub Coding &copy; Copyright 2019</span>
        </div>
    </footer>
</body>
</html>