<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="keywords" content="rent, house, apartments, dormitories, condominiums, school, address, travel, accessibility">
    <meta name="description" content="Find available places to live near your school.">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha256-7rF6RaSKyh16288E3hVdzQtHyzatA2MQRGu0cf6pqqM=" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/index.css">

    <!-- Map CSS-->
    <link rel="stylesheet" type="text/css" href="/css/map.css">
    
    <title>RS Navi</title>
</head>
<body>
    <!-- Navbar Component -->
    <% include ../public/components/navbar.ejs %>
    
    <% if (locals.message) { 
        if (message.length > 0) { %>
            <!-- Alert Message From Server -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="alert alert-primary alert-dismissible fade show mt-5" role="alert">
                        <%= locals.message %>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>

    <!-- Search -->
    <main class="container">
        <section class="row justify-content-center collapse show" id="logoSection">
            <div class="col-5 col-md-4 col-lg-3">
                <a href="/"><img class="img-fluid" src="/images/logo_no_title.png" id="logo"></a>
            </div>
        </section>

        <form>
            <div class="row justify-content-center">
                <div class="col-10 col-md-8 col-lg-6">
                    <div class="input-group mt-5 mb-3">
                        <input type="text" class="form-control" placeholder="Enter school name..." name="schoolName"  id="searchField" required>
                        <div class="input-group-append">
                            <span class="btn custom-button"> <i class="fas fa-search"></i> </button>
                       </div>    
                    </div>
                </div>
            </div>
        </form>
        
        <section class="container collapse text-center" id="mapSection">
            <div id="map" class="border border-primary"></div>
        </section>
    </main>

    <!-- Footer Component -->
    <% include ../public/components/footer.ejs %>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Boostrap Bundle (Bootstrap JS + Popper.js) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    
    <!-- Custom Script -->
    <script src="/js/index.js"></script>

    <!-- Google Maps Libraries and Services -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDREAoaQ27rc3JvRN_lyipAak9eT7C3tqQ&libraries=places&callback=loadMapStyles" type="text/javascript">
</script>
</body>
</html>
