<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha256-7rF6RaSKyh16288E3hVdzQtHyzatA2MQRGu0cf6pqqM=" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/index.css" >
    
    <title>RS Navi</title>
</head>
<body>

    <!-- Navbar Component -->
    <% include ../public/components/navbar.ejs %>
    
    <% if (locals.message) { 
        if (message.length > 0) { %>
            <!-- Alert Message From Server -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="alert alert-primary alert-dismissible fade show mt-5" role="alert">
                        <%= locals.message %>
                        <button type="button" class="close" place-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>

    <!-- Search -->
    <main class="container">
        
        <section class="row justify-content-center collapse show" id="logoSection">
            <div class="col-5 col-md-4 col-lg-3">
                <a href="/"><img class="img-fluid" src="/images/logo_no_title.png" id="logo"></a>
            </div>
        </section>

        <form method="GET" action="/search">
            <div class="row justify-content-center">
                <div class="col-10 col-md-8 col-lg-6">
                    <div class="input-group mt-5 mb-3">
                        <input type="text" class="form-control" placeholder="Enter school name..." name="schoolName"  id="searchField" required>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"> <i class="fas fa-search"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
        </form> 
        
        <section class="container collapse text-center" id="mapSection">
            <div id="map"></div>
        </section>
        

    </main>

    <!-- Footer Component -->
    <% include ../public/components/footer.ejs %>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- Boostrap Bundle (Bootstrap JS + Popper.js) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <!-- Devbridge's Autocomplete -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.9/jquery.autocomplete.js" integrity="sha256-AU6mjGKtdyPqKOpEqQm/UCFmQ9UqrP1QH0EZVvpoAnQ=" crossorigin="anonymous"></script> 

    <!-- Custom Script -->
    <script src="/js/index.js"></script>
    <script>

        let map;
        let searchMarker;

        $("form").submit(function(event) {
            event.preventDefault();
            event.stopPropagation();

            $.ajax({
                url: '/search',
                data: { schoolName: $("#searchField").val() },
                success: function(places) {

                    if (!map) return;

                    for (let i=0; i<places.length; i++) {
                        addMarker(places[i]);
                    }

                    if (!$("#mapSection").hasClass('show')) {
                        $("#logoSection, #mapSection").collapse("toggle");
                    }
                }
            });
        });

        function initMap() {
            const options = {
                zoom: 11,
                minZoom: 10,
                center: {
                    lat: 14.6091,
                    lng: 121.0223
                },
                disableDefaultUI: true,
                gestureHandling: 'greedy',
                backgroundColor: 'rgba(0, 0, 0, 0)',
                styles: [
                    {
                    "elementType": "geometry.fill",
                    "stylers": [{
                        "color": "#1d2c4d"
                        }]
                    },
                    {
                        "elementType": "geometry.stroke",
                        "stylers": [{
                            "color": "#808080"
                        }]
                    },
                    {
                        "elementType": "labels.text.fill",
                        "stylers": [{
                            "color": "#8ec3b9"
                        }]
                    },
                    {
                        "elementType": "labels.text.stroke",
                        "stylers": [{
                            "color": "#1a3646"
                        }]
                    },
                    {
                        "featureType": "administrative.country",
                        "elementType": "geometry.stroke",
                        "stylers": [{
                            "color": "#4b6878"
                        }]
                    },
                    {
                        "featureType": "administrative.land_parcel",
                        "elementType": "labels.text.fill",
                        "stylers": [{
                            "color": "#64779e"
                        }]
                    },
                    {
                        "featureType": "administrative.province",
                        "elementType": "geometry.stroke",
                        "stylers": [{
                            "color": "#4b6878"
                        }]
                    },
                    {
                        "featureType": "landscape.natural",
                        "elementType": "geometry",
                        "stylers": [{
                            "color": "#023e58"
                        }]
                    },
                    {
                        featureType: "poi",
                        stylers: [{    
                            visibility: "off"
                        }]   
                    },
                    {
                        featureType: "poi.school",
                        stylers: [{    
                            visibility: "on"
                        }]   
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [{
                            "color": "#283d6a"
                        }]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.text.fill",
                        "stylers": [{
                            "color": "#6f9ba5"
                        }]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "labels.text.stroke",
                        "stylers": [{
                            "color": "#1d2c4d"
                        }]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "geometry.fill",
                        "stylers": [{
                            "color": "#023e58"
                        }]
                    },
                    {
                        "featureType": "poi.park",
                        "elementType": "labels.text.fill",
                        "stylers": [{
                            "color": "#3C7680"
                        }]
                    },
                    {
                        "featureType": "road",
                        "elementType": "geometry",
                        "stylers": [{
                            "color": "#304a7d"
                        }]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.text.fill",
                        "stylers": [{
                            "color": "#98a5be"
                        }]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.text.stroke",
                        "stylers": [{
                            "color": "#1d2c4d"
                        }]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry",
                        "stylers": [{
                            "color": "#2c6675"
                        }]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [{
                            "color": "#255763"
                        }]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "labels.text.fill",
                        "stylers": [{
                            "color": "#b0d5ce"
                        }]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "labels.text.stroke",
                        "stylers": [{
                            "color": "#023e58"
                        }]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "labels.text.fill",
                        "stylers": [{
                            "color": "#98a5be"
                        }]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "labels.text.stroke",
                        "stylers": [{
                            "color": "#1d2c4d"
                        }]
                    },
                    {
                        "featureType": "transit.line",
                        "elementType": "geometry.fill",
                        "stylers": [{
                            "color": "#283d6a"
                        }]
                    },
                    {
                        "featureType": "transit.station",
                        "elementType": "geometry",
                        "stylers": [{
                            "color": "#3a4762"
                        }]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [{
                            "color": "#0e1626"
                        }]
                    },
                    {
                        "featureType": "water",
                        "elementType": "labels.text.fill",
                        "stylers": [{
                            "color": "#4e6d70"
                        }]
                    }
                ]
            }

            map = new google.maps.Map(document.getElementById('map'), options);

            const input = document.getElementById('searchField');

            const autocomplete = new google.maps.places.Autocomplete(input, { 
                componentRestrictions: { 
                    country: 'ph' 
                } 
            });

            autocomplete.addListener('place_changed', function () {

                const place = this.getPlace();

                $.ajax({
                    url: '/search',
                    data: { schoolName: $("#searchField").val() },
                    success: function(places) {

                        if (!map) return;

                        for (let i=0; i<places.length; i++) {
                            addMarker(places[i]);
                        }

                        if (!$("#mapSection").hasClass('show')) {
                            $("#logoSection, #mapSection").collapse("toggle");
                        }

                        if (searchMarker) { searchMarker.setMap(null); }

                        searchMarker = new google.maps.Marker({
                            position: place.geometry.location,
                            map: map
                        });

                        const infoWindow = new google.maps.InfoWindow({
                            content: `<p>${place.name}</p>` // sanitize
                        });

                        infoWindow.open(map, searchMarker);

                        searchMarker.addListener('click', function () {
                            map.panTo(searchMarker.position);
                            map.setZoom(18);
                            infoWindow.open(map, searchMarker);
                        });

                        map.panTo(place.geometry.location);
                        map.setZoom(18);
                    }
                });
            });
        }

        function addMarker(place) {

            const marker = new google.maps.Marker({
                position: { 
                    lat: place.coordinates[0],
                    lng: place.coordinates[1]
                },
                map: map,
                icon: 'https://i.imgur.com/0f9XMvH.png'
            });

            let placeType;
            switch (place.placeType) {
                case 0:
                    placeType = "Boarding House";
                    break;
                case 1:
                    placeType = "Dormitory";
                    break;
                case 2:
                    placeType = "Apartment";
                    break;
                case 3:
                    placeType = "Condiminium";
                    break;
                default:
                    placeType = "";
            }

            const adr = place.address;
            const address = `${adr.number} ${adr.street}, ${adr.subdivision}`
                + `<br>Bgy. ${adr.barangay}, ${adr.city}`
                + `<br>${adr.zipCode} ${adr.province}`;

            const infoWindow = new google.maps.InfoWindow({
                content: `<h4><strong>${place.name}</strong></h4><p>${placeType}</p><p>₱${place.price}</p><p>${address}</p>` // TODO: sanitize?
            });

            marker.addListener('click', function () {
                infoWindow.open(map, marker);
                map.panTo(marker.position);
                map.setZoom(20);
            });
        }
        
    </script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDREAoaQ27rc3JvRN_lyipAak9eT7C3tqQ&libraries=places&callback=initMap"
type="text/javascript">
</script>
</body>
</html>