<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/all.css">
    
    <!-- My CSS -->
    <link rel="stylesheet" href="css/index.css" type="text/css">

    <!-- Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    
    <title>RS Navi - Login</title>
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-dark navbar-expand-md fixed-top" id="mainNavbar">
        <div class="container">
            <a href="/" class="navbar-brand"><span class="font-weight-bold">ROOM STAYIN</span> NAVIGATION</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation links">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navLinks">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/auth" class="nav-link">Login <i class="fas fa-user"></i></a></li>
                    <li class="nav-item"><a href="/auth" class="nav-link">Add A Place <i class="fas fa-home"></i> </a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Search -->
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-5 col-md-4 col-lg-3">
                <a href="/"><img class="img-fluid" src="images/logo_no_title.png" id="logo"></a>
            </div>
        </div>
        <form method="GET" action="/search">
            <div class="row justify-content-center mt-5">
                <div class="col-10 col-md-8 col-lg-6">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Enter school name..." name="schoolName"  id="searchField" required>
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                      </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row text-center text-white justify-content-around align-items-center">
                
                <div class="col-10 col-md-6 mt-3">
                    <h3 class="display-5 pt-2">About Us</h3>
                    <p class="bg-dark p-3 rounded">
                        RS Navi aims to help students who travel long distances to go to school by providing a convenient list of available places to stay near their school.
                    </p>
                </div>
                
                <div class="col-10 col-md-5 mt-3">
                    <form method="POST" action="">
                        <h3 class="display-5">Stay Connected</h3>
                        <div class="input-group mb-3 shadow-lg">
                          <input type="email" class="form-control" placeholder="Email address" name="emailAddress">
                          <div class="input-group-append">
                            <button class="btn btn-dark" type="submit">Sign Up To Newsletter</button>
                          </div>
                        </div>
                        <p class="bg-dark border border-dark rounded">By signing up, you are agreeing to our <a href="" id="privacy" data-toggle="modal" data-target="#exampleModalLong">Privacy Policy</a>.</p>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row justify-content-center text-center">
                <p class="text-white">roomstayin.navigation@gmail.com &copy; Bathtub Coding 2019</p>
            </div>
        </div>
    </footer>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Privacy Policy</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/jquery.autocomplete.min.js"></script>
<script>
    $('form').attr('autocomplete', 'off');
    $("main").animate({ opacity: 1 }, 700)

    $('#searchField').autocomplete({
        serviceUrl: '/autocomplete/schools'
    });

</script>
</body>
</html>