<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>RS Navigation</title>
</head>
<body class="landing">

    <!-- Header -->
        <header id="header" class="alt">
            <h1><strong><a href="/">Room StayIn</strong> Navigation</h1></a>
            <nav id="nav">
                <ul>
                    <li><a href="/login/student">Login</a></li>
                    <li><a href="/login/placeowner">Add A Place</a></li>
                </ul>
            </nav>
        </header>

        <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    <!-- Banner -->
        <section id="banner">
            <h2><img src="/images/rs_navi_logo.png"></h2>
            <ul>
                <li>
                <form class = "searchBar" method="GET" action="/search" style="margin:auto;max-width:800px"">
                <input type="text" name="schoolname" placeholder="Enter school name..." required="required">
                <button type="submit">Search</button>
                </form>
                </li>
            </ul>
        </section>
        
    <!-- One -->
            <section id="one" class="wrapper style2">
                <div class="container 75%">
                    <div class="row 200%">
                        <div class="6u 12u$(medium)">
                            <header class="major">
                                <h2 style="color: #ecf0f1"> RS - NAVI </h2>
                                <p style="color: #ecf0f1">(Room StayIn - Navigation)</p>
                            </header>
                        </div>
                        <div class="6u$ 12u$(medium)">
                            <p style="color:#ecf0f1">To help students who come long distances almost everyday to go to school, 
                                by providing an alternative solution which is living or staying in a place near their respective schools, 
                                such that the system helps find a way to locate places near their school in which by providing them with a 
                                list of available places for them to either rent or buy which is convenient.</p>
                            
                        </div>
                    </div>
                </div>
            </section>

    <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <ul class="icons">
                    <li><a href="#" class="icon fa-facebook"></a></li>
                    <li><a href="#" class="icon fa-twitter"></a></li>
                    <li><a href="#" class="icon fa-instagram"></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Bathtub Coding 2019</li>
                </ul>
            </div>
        </footer>

    <!-- Scripts -->
        <script src="/js-design/jquery.min.js"></script>
        <script src="/js-design/skel.min.js"></script>
        <script src="/js-design/util.js"></script>
        <script src="/js-design/main.js"></script>

</body>
</html>