<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="keywords" content="password, reset">
    <meta name="description" content="Reset your account's password.">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139123832-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139123832-1');
    </script>

    <!-- Google Adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4824023338331461",
        enable_page_level_ads: true
    });
    </script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" integrity="sha256-7rF6RaSKyh16288E3hVdzQtHyzatA2MQRGu0cf6pqqM=" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/auth.css" type="text/css">
    
    <title>RS Navi • Reset Password</title>
</head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-dark navbar-expand-md fixed-top" id="mainNavbar">
        <a href="/" class="navbar-brand"><span class="font-weight-bold">ROOM STAY-IN</span> NAVIGATION</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation links">
            <span class="text-white"><i class="fas fa-bars"></i></span>
        </button>
    </nav>
    
    <!-- Flash Message -->
    <% include ./components/flash.ejs %>

    <main class="container">

        <!-- Logo -->
        <div class="row justify-content-center">
            <div class="col-4 col-md-3 col-lg-2">
                <a href="/"><img class="img-fluid" src="/images/logo.png" id="logo"></a>
            </div>
        </div>
    
        <!-- Reset Password Form -->
        <div id="resetPassword">
            <div class="row justify-content-center text-center mb-3">
                <div class="col-8">
                    <h2 class="display-6 text-white" id=>Reset Password</h2>
                </div>
            </div>

            <form method="POST" action="/auth/reset">
                <div class="row justify-content-center text-center">
                    <div class="col-8 col-md-6 col-lg-5 col-xl-4 formFields">
                        <input type="email" class="form-control mb-3" placeholder="Email" name="email" value="<%= user.account.email %>" disabled>
                        <input type="password" class="form-control" placeholder="New Password" name="newPassword" id="np" required>
                        <div></div>
                        <input type="password" class="form-control mt-3" placeholder="Confirm New Password" name="confirmNewPassword" id="cp" required>
                        <div></div>
                        <input type="text" name="hashCode" value="<%= user.account.hashCode %>" required hidden>
                        <button type="submit" class="btn btn-sm custom-button mt-3 px-4">Reset</button>
                    </div>
                </div>
            </form>
        </div>

    </main>

    <!-- Footer Component -->
    <% include ./components/footer.ejs %>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Bootstrap JS + Popper.js Bundle -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        
    <!-- Custom Script -->
    <script>
        $(document).ready(() => {
            $('form').attr('autocomplete', 'off');  // disable default autocomplete
            $("main").animate({ opacity: 1 }, 1000) // fade-in
        });

        $("#np, #cp").keyup(function() {
            const password = $("#np");
            const confirm = $("#cp");

            if (password.val().length < 8) {
                password.removeClass('is-valid').addClass('is-invalid');
                password.next().addClass('invalid-feedback').text('Must be at least 8 characters');

                confirm.removeClass('is-valid is-invalid');
                confirm.next().removeClass('invalid-feedback').text('');

            } else if (password.val().length > 24) {
                password.removeClass('is-valid').addClass('is-invalid');
                password.next().addClass('invalid-feedback').text('Must not be more than 24 characters');

                confirm.removeClass('is-valid is-invalid');
                confirm.next().removeClass('invalid-feedback').text('');
                
            } else {

                password.removeClass('is-invalid');
                password.next().removeClass('invalid-feedback').text('');
                
                if (confirm.val() !== password.val()) {
                    password.removeClass('is-valid').addClass('is-invalid');
                    confirm.removeClass('is-valid').addClass('is-invalid')
                    confirm.next().addClass('invalid-feedback').text('Passwords do not match');
                } else {
                    password.removeClass('is-invalid').addClass('is-valid')
                    confirm.removeClass('is-invalid').addClass('is-valid')
                    confirm.next().removeClass('invalid-feedback').text('');
                }
            }
        });
    </script>
</body>
</html>
