<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <title>RS Navigation - Signup</title>
</head>
<body class="landing">

    <!-- Header -->
        <header id="header" class="alt">
            <h1><strong><a href="/">Room StayIn</strong> Navigation</h1></a>
            <p class = "logo"><a href="/"><img src="/images/logo_no_title.png" height="176.5" width="148.5" ></p></a>
            <nav id="nav">
                <ul>
                    <li><a href="/auth/signup/student">Signup as Student</a></li>
                </ul>
            </nav>
        </header>

        <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    <!-- Banner -->
        <section id="banner">
            <h2 style="color: #ecf0f1">Signup as Place Owner</h2><br><br>
            
                 <form method="POST" action="/signup/placeowner" class="signupForm" style="margin: auto;max-width:300px">
                <p><input type="text" name="firstname" placeholder="First Name" required="required"></p>
                <p><input type="text" name="lastname" placeholder="Last Name" required="required"></p>
                <p><input type="text" name="email" placeholder="Email" required="required"></p>
                <p><input type="password" name="password" placeholder="Password" required="required"></p>
                <p><input type="password" name="confirmPassword" placeholder="Re-enter Password" required="required"></p><br>
                <button type="submit">Sign up</button><br><br>
                </form>			
        </section>

    <!-- Footer -->
        <footer id="footer">
            <div class="container">
                <ul class="icons">
                    <li><a href="#" class="icon fa-facebook"></a></li>
                    <li><a href="#" class="icon fa-twitter"></a></li>
                    <li><a href="#" class="icon fa-instagram"></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Bathtub Coding 2019</li>
                </ul>
            </div>
        </footer>

    <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>
</html>