@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
        ),
        url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 70px;
}

.btn.custom-button {
    color: skyblue;
    background: rgb(14, 22, 38, 0.75);
    border: solid 1px rgb(135, 206, 235, 0.25);
    margin:5px;
}

.btn.custom-button:hover {
    background: rgb(14, 22, 38, 0);
}

.table.custom-table {
    color: skyblue;
    background: rgb(14, 22, 38, 0.75);
    border: solid 1px rgb(135, 206, 235, 0.25);
}

.card {
    background: rgb(14, 22, 38, 0.5);
    border: 1px solid rgb(144, 144, 144, 0.25);
    color: white;
}

#logo {
    margin-top: 200px;
}

main {
    min-height: 100%;
  
}