@import url('https://fonts.googleapis.com/css?family=Nunito|Roboto+Condensed');

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif !important;
    background: 
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo {
    margin-top: 200px;
}

main {
    min-height: 100%;
    opacity: 0;
}

#searchField {
    color: skyblue;
    font-weight: 500;
    background: rgba(144, 144, 144, 0.075);
    border: solid 1px rgba(144, 144, 144, 0.25);
}

/* Google Map */
#map {
    height: 700px;
}

/* Info Window */
.gm-style {
    font-family: 'Roboto Condensed', sans-serif !important;
    color: white;
}

/* POI Info Window */
.poi-info-window div {
    font-family: 'Roboto Condensed', sans-serif !important;
    background: none !important;
    color: white !important;
}

.poi-info-window .address {
    padding-top: 5px;
    padding-bottom: 5px;
}

.view-link {
    display: none;
}
/* End of POI Info Window */

.gm-style .gm-style-iw-c {
    background: rgb(14, 22, 38, 0.75);
    padding: 15px 10px 10px 8px !important;
}

.gm-style .gm-style-iw-t::after {
    background: skyblue;
}

.gm-style-iw-d {
    background: none;
    overflow: hidden !important;
}

.gm-style-iw-d p {
    margin-bottom: 0.5rem;
}

/* Google Place Search Autocomplete */
.pac-item {
    background: #0e1626;
    border: 0;
}

.pac-item:hover {
    background: #1d2c4d;
}

.pac-item-query {
    color: skyblue;
    background: #0e1626;
}

.pac-container.pac-logo::after {
    display: none;
}

.autocomplete-suggestion {
    color: white;
    margin-left: 12px;
}

@media (max-width: 600px) {
    #logo {
        margin-top: 100px;
    }

    #map {
        height: 600px;
    }
    
    h3 {
        font-size: 1.0rem;
    }
}

@media (max-width: 400px) {
    #map {
        height: 500px;
    }
}

@media (max-height: 600px) {
    #map {
        height: 400px;
    }
}

