@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.button_1 {
    height: 20px;
    background: #35424a;
    border: none;
    border-radius: 5%;
    padding-right: 15px;
    padding-left: 15px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 5px;
}

.button_1:hover {
    background: cornflowerblue;
}

/* Header */
header {
    background: #35424a;
    color: #ffffff;
    min-height: 40px;
    border-bottom: cornflowerblue solid 5px;
}

header #branding {
    float: left;
    
}

header h2 {
    margin: 0;
    font-size: 24px;
    margin-top: 14px;
}

header span.highlight {
    color: cornflowerblue;
}

header nav {
    float: right;
    margin-top: 20px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header a {
    text-decoration: none;
    text-transform: capitalize;
    color: #f4f4f4;
    font-size: 18px;
}

header nav a:hover {
    color: cornflowerblue;
}

main form {
    margin: 15px;
    text-align: center;
}

main span a {
    text-decoration: none;
    font-size: 16px;
    padding: 0;
    color: #35424a;
}